body
{
	background-image: url("photos/fond.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.color
{
	background-color: rgba(243, 229, 229, 0.8);
}

.titres
{
	text-align: center;
	padding: 20px;
}

nav 
{
	width:100%;
	margin: auto;
}

nav ul
{
	list-style: none;
}

nav ul li
 {
 	float: left;
 	width:25%;
 	text-align: center;
 }

 nav ul::after
 {
content: "";
display: table;
clear: both;
 }

 nav a 
 {
 	display: block;
 	text-decoration: none;
 	padding: 0px 0px;
 	color : #938F8F;
 	font-size: 1.25em;
 }

 nav a:hover
 {
 	border-bottom: 1px solid #E08686;
 }

 .sous
 {
 	display: none;
 	box-shadow: 5px 5px 5px #E08686;
 	background-color: rgba(230, 222, 222, 0.6);
 }

 nav > ul li:hover .sous
 {
 	display: block;
 }

 .sous li 
 {
 	float:none;
 	width:100%;
 	text-align: left;
 }

 .sous a
{
 	padding: 10px;
 	border-bottom: none;
}

.sous a:hover
{
	border-bottom: none;
	background-color: rgba(230, 222, 222, 0.6);
}

.deroulant > a::after
{
	content: "▼";
	font-size: 12px;
}

.sous
{
	display: none;
	box-shadow: 1px 2px 5px #E08686;
	position: absolute;
	width: 89%;
	z-index: 1000;
}

nav ul li 
{
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
}

.titrepres
{
	text-align: center;
}

.presentation
{
	display: inline-block;
	display: flex;
	align-items: center;
	background-color: rgba(230, 222, 222, 0.6);
	box-shadow: 1px 2px 5px #E08686;
}

.photo
{
	min-width:200px;
	min-height:225px;
	max-width:200px;
	max-height:250px;
	float:left;
}

p
{
	font-size: 1.3em;
	padding: 20px 20px 20px 20px;
}

.titresco
{
	display: block;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.forma
{
	padding: 100px 0px 50px 0px;
	display: flex;
	justify-content: space-around;
	font-size: 1.1em;
}

.titredidacte
{

	text-align: center;

}

.titrepro
{
	text-align: center;
}

.pro
{

	display: inline-block;
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0px 50px 0px;
	justify-content: space-around;
	background-color: rgba(230, 222, 222, 0.6);
	box-shadow: 1px 2px 5px #E08686;
	font-size: 1.1em;
}

.titrefin
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding : 100px 75px 0px 20px;
}

.fin
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 0px 50px 40px;
	font-size: 1.1em;
}

footer
{
	background-color: rgba(230, 222, 222, 0.6);
	box-shadow: 1px 2px 5px #E08686;
	font-size: 1.1em;
}

.contact
{
	width: 100%;
	text-align: center;
	font-size: 1.25em;
}

.contact ul
{
	list-style: none;
}

.reseaux
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.li
{
	width:50px;
	height:50px;
	margin: 5px 20px 10px 20px;
}

.mail
{
	width:40px;
	height:40px;
	margin: 5px 20px 10px 20px;
}


